/* ///// MAIN SETUP ///// */
body{
    padding: 0;
    margin: o;
    font-family: 'Montserrat', sans-serif;
}

/* ///// HEADER///// */
.carousel-item {
    height: 90vh;
    overflow: hidden;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

/* ///// NAVBAR///// */
nav {
    background-color: #F8F8F8;
} 


/* ///// GOOGLE MAPS///// */
#map{
    height: 400px;
    width: auto;
  }